<section id="about" class="content-section about">
  <div class="page-contain">
    <h2>
      More About Open Maine
    </h2>
    <p>
      We are a brigade in the <a href="https://www.codeforamerica.com" rel="noopener" target="_blank">Code for America</a> network: “Code for America uses the principles and practices of the digital age to improve how government serves the American public, and how the public improves government.” </p>

    <p>
      <a href="https://github.com/OpenMaine/OpenMaine_ForkedFromLA/wiki/Code-of-Conduct" rel="noopener" target="_blank" class="btn btn-primary">Our Code of Conduct</a>
      <a href="https://github.com/OpenMaine/OpenMaine_ForkedFromLA/wiki/Project-Guidelines" rel="noopener" target="_blank" class="btn btn-primary">Our Project Guidelines</a>
      </p>
    <h3>Want to make a financial contribution?</h3>
    <p>Donations to Code for America directed for Open Maine are tax-deductible.
</p>
<p>
      <a href="https://secure.codeforamerica.org/page/contribute/donate-to-a-brigade-today?source_codes=Brigade-page&brigade=Open%20Maine" rel="noopener" target="_blank" class="btn btn-primary">Donate to Our Brigade</a>
</p>
  </div>
</section>
