<section id="hack-nights" class="content-section section-hack-nights">
    <div class="page-contain">
        <h2 color="$color-white">Events</h2>
        <p>We host monthly Hack Nights in downtown Portland, usually on the third Thursday of the month. At these events, we organize groups of
            volunteers to build technology addressing Maine's biggest civic issues. Each night offers an
            inclusive, diverse community, and everyone is welcome. Join an existing project team or pitch your own civic
            issue.</p>

            {%- include calendar.html -%}

            <p>
                <a href="https://www.meetup.com/OpenMaine/" rel="noopener" target="_blank" class="btn btn-primary">RSVP on Meetup</a>
            </p>

<h3>Collaboration</h3>
<p>Unable to make it to an event? Want to get started on something before the next meeting? Have questions? Join the conversation or a project on Slack or find projects on Github.</p>
                  <a href="https://openmaine.slack.com/" rel="noopener" target="_blank" class="btn btn-primary">Talk with us on Slack</a>
                  <a href="https://github.com/openmaine" rel="noopener" target="_blank" class="btn btn-primary">View projects on Github</a>
    </div>
</section>
