<header class="hero">
  <div class="hero-inner">
    <h1>You can change Maine for the better!</h1>
    <p class="type-featured">Can you design, write, or code? Are you an activist with an idea? You can help Maine
      live up to its potential at Open Maine. Everyone is welcome!</p>

      <p>We are a <a href="https://www.codeforamerica.com" rel="noopener" target="_blank">Code for America</a> brigade, volunteering our time and talents to help design, develop, and improve civic systems in Maine.</p>
  </div>
</header>
