/**
 * Colors
 */
$color-black: #333;
$color-blue: #000066;
$color-blue-dark: #000066;
$color-red: #30B309;
$color-teal: #EFEEDE;
$color-white: #fff;

$color-grey-light: #f6f6f6;
$color-grey-med: #ccc;
$color-papayawhip: #ffefd5;
$color-royalblue: #4169e1;
